span > a {
  color: inherit !important;
}

.container > main {
  padding: 60px 15px 0;
}

a.btn, button.btn {
  margin-right: 5px;
}

.col-center {
  float: none !important;
  margin: 0 auto !important;
}

.hidden {
  display: none !important;
}
